




html{
    display: block;
}
title{
    display: none;
}

body{
    text-align: center
    display: block;
    margin: 10 px;
    padding: 10 px;
}
h1{
    color: green;
    display: block;
    font-size: 82 px;
    font-weight: bold
}
h2{ 
    color: blue;
    display: block;
    font-size: 64 px
    font-weight: bold;
}
 
p{
    color: red;
    display: block;
    font-size: 36 px;
    font-family: Arial, Times;
}
.main-list{
    color: purple;
    display: block;
    font-size: 24 px;
    font-family: Georgia, Times;
}

 